{
    "singleAttributePerLine": true,
    "endOfLine": "auto",
    "printWidth": 80,
    "tabWidth": 2,
    "parser":"babel-ts",
    "arrowParens": "always",
    "semi": true,
    
   "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}